/**************************************************************************************
*	Senal's Rofi Config
*
*
***************************************************************************************/

@theme "/themes/Senal-Theme.rasi" 

//@theme "/usr/share/rofi/themes/Paper.rasi"
