/**********************************************************************
*	Senal's Theme for Rofi
*
*********************************************************************/


configuration {
	 font: "monospace 21";
 }
@theme "solarized"


